<html>
    <head>
        <style>
            body {
                font-size: 13;
                font-family: Microsoft YaHei UI, sans-serif;
            }
            .conclusion{
                color: red;
                {% if conclusion == "不通过" %}
                color: red;
                {% else %}
                color: green;
                {% endif %}
            }
        </style>
    </head>
    <body>
        <p>Hi All，</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;你好，{{ project_name }} 第{{ test_round }}轮 需求测试完成，本轮新增问题{{ new_issues }}个，关闭问题{{ closed_issues }}个，重新打开问题{{ reopened_issues }}个。</p>
        <p>测试结论：<span class="conclusion">{{ conclusion }}</span></p>
		<br/>
        <p>缺陷清单:</p>
        <ul>
		{% if defect_list is defined %}
		{% if "," in defect_list %}
			{% for list in defect_list.split(",") %}
            <li style="margin-top: -10px; margin-bottom: -10px;">{{ list }}</li>
			{% endfor %}
		{% else %}
			 <li style="margin-top: -10px; margin-bottom: -10px;">{{ defect_list }}</li>
		{% endif %}
		{% endif %}
        </ul>
        <p>测试范围:</p>
        <ul>
		{% if test_content is defined %}
		{% if "," in test_content %}
			{% for content in test_content.split(",") %}
			<li style="margin-top: -10px; margin-bottom: -10px;">{{ content }}</li>
			{% endfor %}
		{% else %}
			<li style="margin-top: -10px; margin-bottom: -10px;">{{ test_content }}</li>
		{% endif %}
		{% endif %}
        </ul>
        <p>测试环境:</p>
        <ul>
            <li style="margin-top: -10px; margin-bottom: -10px;">{{ test_env }}</li>
        </ul>
        <p>系统：</p>
        <ul>
            <li style="margin-top: -10px; margin-bottom: -10px;">{{ system }}</li>
        </ul>
        <p>测试设备：</p>
		<ul>
		{% if test_device is defined %}
		{% if "," in test_device %}
			{% for device in test_device.split(",") %}
			<li style="margin-top: -10px; margin-bottom: -10px;">{{ device }}</li>
			{% endfor %}
		{% else %}
			<li style="margin-top: -10px; margin-bottom: -10px;">{{ test_device }}</li>
		{% endif %}
		{% endif %}
		</ul>
		<br/>
        <p>测试用例覆盖：</p>
        <p>用例执行：{{ test_case_count }}{% if auto_test_case_count != 0 %} 自动化用例执行：{{ auto_test_case_count }}{% endif %}</p>
    </body>
</html>